<div class="report-view-wrapper">
  <p-dialog #reportViewLogisticsDialog [styleClass]="'report-view-logistics-dialog'" [header]="header" [(visible)]="visible" [contentStyle]="{'overflow':'visible'}" [modal]="false" [responsive]="true" [draggable]="true" [resizable]="true" [positionLeft]="dialogLeft" [positionTop]="dialogTop" (onHide)="cancelClicked($event)">
    <table class="report-view-button-table top">
      <tr class="report-view-button-row">
        <!-- <td class="cell-button-like" (click)="splitReport($event)"  title="Split work report" ><span class="svg-icon"></span></td> -->
        <!-- <td class="cell-button-like" (click)="splitReport($event)"  title="Split work report" ><svg viewBox="0 0 26 26" class="icon svg-icon"></svg></td> -->
        <!-- <td class="cell-button-like" (click)="splitReport($event)"  title="Split work report" *ngIf="data.status.role==='dev'"><i class="icomoon-split icon-button-like"></i></td> -->
        <td class="cell-button-like" (click)="deleteReport($event)" title="Delete logistics report"><i class="fal fa-trash-alt icon-button-like"></i></td>
        <td class="cell-button-like" (click)="saveNoExit($event)"   title="Save, don't exit"       ><i class="fa fa-save icon-button-like"   ></i></td>
        <div *ngIf="idx+1 > 1; then previousAvailable; else previousUnavailable"></div>
        <div *ngIf="idx+1 < count; then nextAvailable; else nextUnavailable"></div>
        <ng-template #previousAvailable>
          <td class="cell-button-like" (click)="previous($event)" title="Previous logistics report">
            <i class="icon-button-like fa fa-chevron-circle-left"></i>
          </td>
        </ng-template>
        <ng-template #previousUnavailable>
          <td class="cell-button-disabled" title="No previous logistics reports">
            <i class="fa fa-chevron-circle-left icon-greyed-out"></i>
          </td>
        </ng-template>
        <ng-template #nextAvailable>
          <td class="cell-button-like" (click)="next($event)" title="Next logistics report">
            <i class="icon-button-like fa fa-chevron-circle-right"></i>
          </td>
        </ng-template>
        <ng-template #nextUnavailable>
          <td class="cell-button-disabled" title="No next logistics report">
            <i class="fa fa-chevron-circle-right icon-greyed-out"></i>
          </td>
        </ng-template>
      </tr>
    </table>
    <table class="report-view-table">
      <tr class="report-view-row">
        <td class="label">ID</td>
        <td class="data" ><input class="report-view-input" [(ngModel)]="report._id" /></td>
      </tr>
      <tr class="report-view-row">
        <td class="label">Rev</td>
        <td class="data" ><input class="report-view-input" [readonly]="true" [(ngModel)]="report._rev" /></td>
      </tr>
      <tr class="report-view-row">
        <td class="label">Timestamp</td>
        <td class="data" ><input class="report-view-input" [(ngModel)]="report.timestamp" /></td>
      </tr>
      <tr class="report-view-row">
        <td class="label">Date</td>
        <td class="data" ><p-calendar [class.report-view-calendar]="true" dateFormat="dd M yy" [(ngModel)]="report_date" (onChange)="updateDate(report_date)"></p-calendar></td>
      </tr>
      <tr class="report-view-row">
        <td class="label">Repair Time</td>
        <td class="data" ><input class="report-view-input" type="number" min="0" step="0.5" [(ngModel)]="report.repair_hours" (ngModelChange)="updateRepairHours()"/></td>
      </tr>
      <tr class="report-view-row">
        <td class="label">Start Time</td>
        <!-- <td class="data" ><p-dropdown [class.report-view-dropdown]="true" [options]="timeList" [(ngModel)]="time_start" (onChange)="updateTimeStart()"></p-dropdown></td> -->
        <td class="data" >
          <p-calendar [class.report-view-calendar]="true" dateFormat="dd M yy" showTime="true" stepMinute="30" [(ngModel)]="time_start" (onChange)="updateTimeStart()"></p-calendar>
        </td>
      </tr>
      <tr class="report-view-row">
        <td class="label">End Time</td>
        <!-- <td class="data" ><p-dropdown [class.report-view-dropdown]="true" [options]="timeList" [(ngModel)]="time_end" (onChange)="updateTimeEnd()"></p-dropdown></td> -->
        <td class="data" >
          <p-calendar [class.report-view-calendar]="true" dateFormat="dd M yy" showTime="true" stepMinute="30" [(ngModel)]="time_end" (onChange)="updateTimeEnd()"></p-calendar>
        </td>
      </tr>
      <tr class="report-view-row">
        <td class="label">Technician</td>
        <td class="data" ><input class="report-view-input" [(ngModel)]="report.technician" /></td>
      </tr>
      <tr class="report-view-row">
        <td class="label">Client</td>
        <td class="data" ><p-dropdown [class.report-view-dropdown]="true" [options]="clientList" [(ngModel)]="client" (onChange)="updateReportCLL('client', client)" [scrollHeight]="dropdownScroll"></p-dropdown></td>
      </tr>
      <tr class="report-view-row">
        <td class="label">Location</td>
        <td class="data" ><p-dropdown [class.report-view-dropdown]="true" [options]="locationList" [(ngModel)]="location" (onChange)="updateReportCLL('location', location)" [scrollHeight]="dropdownScroll"></p-dropdown></td>
      </tr>
      <tr class="report-view-row">
        <td class="label">LocID</td>
        <td class="data" ><p-dropdown [class.report-view-dropdown]="true" [options]="locIDList" [(ngModel)]="locID" (onChange)="updateReportCLL('locID', locID)" [scrollHeight]="dropdownScroll"></p-dropdown></td>
      </tr>
      <tr class="report-view-row">
        <td class="label">Unit No.</td>
        <td class="data" ><input class="report-view-input" [(ngModel)]="report.unit_number" /></td>
      </tr>
      <tr class="report-view-row">
        <td class="label">Work Order No.</td>
        <td class="data" ><input class="report-view-input" [(ngModel)]="report.work_order_number" /></td>
      </tr>
      <tr class="report-view-row">
        <td class="label">Notes</td>
        <td class="data" ><textarea pInputTextArea [class.report-view-textarea]="true" [(ngModel)]="report.notes"></textarea></td>
      </tr>
    </table>
    <table class="report-view-button-table bottom">
      <tr class="report-view-button-row">
        <td class="report-view-button-td cell-button-like" (click)="cancelClicked($event)"><i class="fa fa-times-circle-o icon-button-like" title="Cancel any edits"></i></td>
        <td class="report-view-button-td"></td>
        <td class="report-view-button-td"></td>
        <td class="report-view-button-td cell-button-like" (click)="saveClicked($event)"><i class="fa fa-check-circle-o icon-button-like"   title="Save and exit"></i></td>
      </tr>
    </table>
  </p-dialog>
</div>

<!-- <ion-footer>
  <ion-toolbar>
    <ion-buttons left>
      <button type="button" ion-button icon-only color="royal" (click)="cancel()">
        <ion-icon name="close"></ion-icon>
      </button>
    </ion-buttons>
    <ion-buttons right>
      <button type="button" ion-button icon-only color="favorite" (click)="save()">
        <ion-icon name="checkmark"></ion-icon>
      </button>
    </ion-buttons>
  </ion-toolbar>
</ion-footer> -->
