# Specifies intentionally untracked files to ignore when using Git
# http://git-scm.com/docs/gitignore

*~
*.sw[mnpcod]
*.log
*.tmp
*.tmp.*
log.txt
*.sublime-project
*.sublime-workspace
.vscode/
.sourcemaps/
npm-debug.log*

.idea/
.sass-cache/
.tmp/
.versions/
coverage/
db/
db.bak/
dist/
node_modules/
tmp/
temp/
platforms/
plugins/
www/
builds/
$RECYCLE.BIN/
.sourcemaps/

.DS_Store
Thumbs.db
UserInterfaceState.xcuserstate

~*.xlsx
~*.docx
src/assets/css/printpage.css.map
src/assets/css/printpage.css
src/domain/*.js
src/domain/domain/*.js
src/domain/config/*.js
*.js.map


## Team Essentials ##
#####################
.vscode/settings.json
.vscode/team-essentials/state.json

.history/

onsiteconsolex.db.zip
onsiteconsolex.tar.gz
