$icomoon-font-path: "../assets/fonts" !default;
$font-path: "../assets/fonts" !default;
$icomoon-version: "sqeeh1" !default;

$icomoon-folder-verified-outline: \ebf4;
$icomoon-oil-well: \ebf5;
$icomoon-graph-line: \ebee;
$icomoon-profits: \ebef;
$icomoon-profits-outline: \ebf0;
$icomoon-schedule4: \ebf1;
$icomoon-schedule3: \ebf2;
$icomoon-schedule2: \ebf3;
$icomoon-group-outline-dark: \ebea;
$icomoon-group-outline: \ebeb;
$icomoon-group-dark: \ebec;
$icomoon-group: \ebed;
$icomoon-professor: \ebe0;
$icomoon-scientist3: \ebe1;
$icomoon-scientist2: \ebe2;
$icomoon-scientist1: \ebe3;
$icomoon-experiment5: \ebe4;
$icomoon-experiment4: \ebe5;
$icomoon-experiment3: \ebe6;
$icomoon-experiment2: \ebe7;
$icomoon-experiment: \ebe8;
$icomoon-arrowhead-left: \ebdc;
$icomoon-arrowhead-up: \ebdd;
$icomoon-arrowhead-right: \ebde;
$icomoon-arrowhead-down: \ebdf;
$icomoon-reports-work: \ebd9;
$icomoon-reports-misc-large: \ebda;
$icomoon-reports-misc: \ebdb;
$icomoon-shift-reports: \ebd8;
$icomoon-work-shift-light: \ebd7;
$icomoon-work-shift: \ea22;
$icomoon-eye2: \e9db;
$icomoon-eye-plus2: \e9dc;
$icomoon-eye-minus2: \e9dd;
$icomoon-eye-blocked2: \e9de;
$icomoon-enter2: \ea13;
$icomoon-exit2: \ea14;
$icomoon-filter2: \ea5b;
$icomoon-circled-0: \e96f;
$icomoon-circled-1: \e970;
$icomoon-circled-2: \e971;
$icomoon-circled-3: \e972;
$icomoon-circled-4: \e973;
$icomoon-circled-5: \e974;
$icomoon-circled-6: \e975;
$icomoon-circled-7: \e976;
$icomoon-circled-8: \e977;
$icomoon-circled-9: \e994;
$icomoon-flag-blank: \e995;
$icomoon-flag-checkered: \e996;
$icomoon-box-check-yes: \e997;
$icomoon-globe: \e992;
$icomoon-globe-wireframe: \e993;
$icomoon-data-refresh: \e98c;
$icomoon-data-refresh-2-path1: \e98d;
$icomoon-data-refresh-2-path2: \e98e;
$icomoon-data-refresh-2-path3: \e98f;
$icomoon-data-refresh-2-path4: \e990;
$icomoon-data-refresh-2-path5: \e991;
$icomoon-authenticate: \e989;
$icomoon-developer: \e98a;
$icomoon-developer-head: \e98b;
$icomoon-payroll: \e951;
$icomoon-people-outline: \e952;
$icomoon-schedule: \e97d;
$icomoon-search-outline: \e97e;
$icomoon-notification2: \ebe9;
$icomoon-home: \e9e8;
$icomoon-home2: \e9e9;
$icomoon-home3: \e9ea;
$icomoon-office: \e9eb;
$icomoon-newspaper: \e9ec;
$icomoon-pencil: \e9ed;
$icomoon-pencil2: \e9ee;
$icomoon-quill: \e9ef;
$icomoon-pen: \e9f0;
$icomoon-blog: \e9f1;
$icomoon-eyedropper: \e9f2;
$icomoon-droplet: \e9f3;
$icomoon-paint-format: \e9f4;
$icomoon-image: \e9f5;
$icomoon-images: \e9f6;
$icomoon-camera: \e9f7;
$icomoon-headphones: \e9f8;
$icomoon-music: \e9f9;
$icomoon-play: \e9fa;
$icomoon-film: \e9fb;
$icomoon-video-camera: \e9fc;
$icomoon-dice: \e9fd;
$icomoon-pacman: \e9fe;
$icomoon-spades: \e9ff;
$icomoon-clubs: \ea00;
$icomoon-diamonds: \ea01;
$icomoon-bullhorn: \ea02;
$icomoon-connection: \ea03;
$icomoon-podcast: \ea04;
$icomoon-feed: \ea05;
$icomoon-mic: \ea06;
$icomoon-book: \ea07;
$icomoon-books: \ea08;
$icomoon-library: \ea09;
$icomoon-file-text: \ea0a;
$icomoon-profile: \ea0b;
$icomoon-file-empty: \ea0c;
$icomoon-files-empty: \ea0d;
$icomoon-file-text2: \ea0e;
$icomoon-file-picture: \ea0f;
$icomoon-file-music: \ea10;
$icomoon-file-play: \ea11;
$icomoon-file-video: \ea12;
$icomoon-file-zip: \ea15;
$icomoon-copy: \ea16;
$icomoon-paste: \ea17;
$icomoon-stack: \ea18;
$icomoon-folder: \ea19;
$icomoon-folder-open: \ea1a;
$icomoon-folder-plus: \ea1b;
$icomoon-folder-minus: \ea1c;
$icomoon-folder-download: \ea1d;
$icomoon-folder-upload: \ea1e;
$icomoon-price-tag: \ea1f;
$icomoon-price-tags: \ea20;
$icomoon-barcode: \ea21;
$icomoon-qrcode: \ebd6;
$icomoon-ticket: \ea23;
$icomoon-cart: \ea24;
$icomoon-coin-dollar: \ea25;
$icomoon-coin-euro: \ea26;
$icomoon-coin-pound: \ea27;
$icomoon-coin-yen: \ea28;
$icomoon-credit-card: \ea29;
$icomoon-calculator: \ea2a;
$icomoon-lifebuoy: \ea2b;
$icomoon-phone: \ea2c;
$icomoon-phone-hang-up: \ea2d;
$icomoon-address-book: \ea2e;
$icomoon-envelop: \ea2f;
$icomoon-pushpin: \ea30;
$icomoon-location: \ea31;
$icomoon-location2: \ea32;
$icomoon-compass: \ea33;
$icomoon-compass2: \ea34;
$icomoon-map: \ea35;
$icomoon-map2: \ea36;
$icomoon-history: \ea37;
$icomoon-clock: \ea38;
$icomoon-clock2: \ea39;
$icomoon-alarm: \ea3a;
$icomoon-bell: \ea3b;
$icomoon-stopwatch: \ea3c;
$icomoon-calendar: \ea3d;
$icomoon-printer: \ea3e;
$icomoon-keyboard: \ea3f;
$icomoon-display: \ea40;
$icomoon-laptop: \ea41;
$icomoon-mobile: \ea42;
$icomoon-mobile2: \ea43;
$icomoon-tablet: \ea44;
$icomoon-tv: \ea45;
$icomoon-drawer: \ea46;
$icomoon-drawer2: \ea47;
$icomoon-box-add: \ea48;
$icomoon-box-remove: \ea49;
$icomoon-download: \ea4a;
$icomoon-upload: \ea4b;
$icomoon-floppy-disk: \ea4c;
$icomoon-drive: \ea4d;
$icomoon-database: \ea4e;
$icomoon-undo: \ea4f;
$icomoon-redo: \ea50;
$icomoon-undo2: \ea51;
$icomoon-redo2: \ea52;
$icomoon-forward: \ea53;
$icomoon-reply: \ea54;
$icomoon-bubble: \ea55;
$icomoon-bubbles: \ea56;
$icomoon-bubbles2: \ea57;
$icomoon-bubble2: \ea58;
$icomoon-bubbles3: \ea59;
$icomoon-bubbles4: \ea5a;
$icomoon-user: \ea5c;
$icomoon-users: \ea5d;
$icomoon-user-plus: \ea5e;
$icomoon-user-minus: \ea5f;
$icomoon-user-check: \ea60;
$icomoon-user-tie: \ea61;
$icomoon-quotes-left: \ea62;
$icomoon-quotes-right: \ea63;
$icomoon-hour-glass: \ea64;
$icomoon-spinner: \ea65;
$icomoon-spinner2: \ea66;
$icomoon-spinner3: \ea67;
$icomoon-spinner4: \ea68;
$icomoon-spinner5: \ea69;
$icomoon-spinner6: \ea6a;
$icomoon-spinner7: \ea6b;
$icomoon-spinner8: \ea6c;
$icomoon-spinner9: \ea6d;
$icomoon-spinner10: \ea6e;
$icomoon-spinner11: \ea6f;
$icomoon-binoculars: \ea70;
$icomoon-search: \ea71;
$icomoon-zoom-in: \ea72;
$icomoon-zoom-out: \ea73;
$icomoon-enlarge: \ea74;
$icomoon-shrink: \ea75;
$icomoon-enlarge2: \ea76;
$icomoon-shrink2: \ea77;
$icomoon-key: \ea78;
$icomoon-key2: \ea79;
$icomoon-lock: \ea7a;
$icomoon-unlocked: \ea7b;
$icomoon-wrench: \ea7c;
$icomoon-equalizer: \ea7d;
$icomoon-equalizer2: \ea7e;
$icomoon-cog: \ea7f;
$icomoon-cogs: \ea80;
$icomoon-hammer: \ea81;
$icomoon-magic-wand: \ea82;
$icomoon-aid-kit: \ea83;
$icomoon-bug: \ea84;
$icomoon-pie-chart: \ea85;
$icomoon-stats-dots: \ea86;
$icomoon-stats-bars: \ea87;
$icomoon-stats-bars2: \ea88;
$icomoon-trophy: \ea89;
$icomoon-gift: \ea8a;
$icomoon-glass: \ea8b;
$icomoon-glass2: \ea8c;
$icomoon-mug: \ea8d;
$icomoon-spoon-knife: \ea8e;
$icomoon-leaf: \ea8f;
$icomoon-rocket: \ea90;
$icomoon-meter: \ea91;
$icomoon-meter2: \ea92;
$icomoon-hammer2: \ea93;
$icomoon-fire: \ea94;
$icomoon-lab: \ea95;
$icomoon-magnet: \ea96;
$icomoon-bin: \ea97;
$icomoon-bin2: \ea98;
$icomoon-briefcase: \ea99;
$icomoon-airplane: \ea9a;
$icomoon-truck: \ea9b;
$icomoon-road: \ea9c;
$icomoon-accessibility: \ea9d;
$icomoon-target: \ea9e;
$icomoon-shield: \ea9f;
$icomoon-power: \eaa0;
$icomoon-switch: \eaa1;
$icomoon-power-cord: \eaa2;
$icomoon-clipboard: \eaa3;
$icomoon-list-numbered: \eaa4;
$icomoon-list: \eaa5;
$icomoon-list2: \eaa6;
$icomoon-tree: \eaa7;
$icomoon-menu: \eaa8;
$icomoon-menu2: \eaa9;
$icomoon-menu3: \eaaa;
$icomoon-menu4: \eaab;
$icomoon-cloud: \eaac;
$icomoon-cloud-download: \eaad;
$icomoon-cloud-upload: \eaae;
$icomoon-cloud-check: \eaaf;
$icomoon-download2: \eab0;
$icomoon-upload2: \eab1;
$icomoon-download3: \eab2;
$icomoon-upload3: \eab3;
$icomoon-sphere: \eab4;
$icomoon-earth: \eab5;
$icomoon-link: \eab6;
$icomoon-flag: \eab7;
$icomoon-attachment: \eab8;
$icomoon-eye: \eab9;
$icomoon-eye-plus: \eaba;
$icomoon-eye-minus: \eabb;
$icomoon-eye-blocked: \eabc;
$icomoon-bookmark: \eabd;
$icomoon-bookmarks: \eabe;
$icomoon-sun: \eabf;
$icomoon-contrast: \eac0;
$icomoon-brightness-contrast: \eac1;
$icomoon-star-empty: \eac2;
$icomoon-star-half: \eac3;
$icomoon-star-full: \eac4;
$icomoon-heart: \eac5;
$icomoon-heart-broken: \eac6;
$icomoon-man: \eac7;
$icomoon-woman: \eac8;
$icomoon-man-woman: \eac9;
$icomoon-happy: \eaca;
$icomoon-happy2: \eacb;
$icomoon-smile: \eacc;
$icomoon-smile2: \eacd;
$icomoon-tongue: \eace;
$icomoon-tongue2: \eacf;
$icomoon-sad: \ead0;
$icomoon-sad2: \ead1;
$icomoon-wink: \ead2;
$icomoon-wink2: \ead3;
$icomoon-grin: \ead4;
$icomoon-grin2: \ead5;
$icomoon-cool: \ead6;
$icomoon-cool2: \ead7;
$icomoon-angry: \ead8;
$icomoon-angry2: \ead9;
$icomoon-evil: \eada;
$icomoon-evil2: \eadb;
$icomoon-shocked: \eadc;
$icomoon-shocked2: \eadd;
$icomoon-baffled: \eade;
$icomoon-baffled2: \eadf;
$icomoon-confused: \eae0;
$icomoon-confused2: \eae1;
$icomoon-neutral: \eae2;
$icomoon-neutral2: \eae3;
$icomoon-hipster: \eae4;
$icomoon-hipster2: \eae5;
$icomoon-wondering: \eae6;
$icomoon-wondering2: \eae7;
$icomoon-sleepy: \eae8;
$icomoon-sleepy2: \eae9;
$icomoon-frustrated: \eaea;
$icomoon-frustrated2: \eaeb;
$icomoon-crying: \eaec;
$icomoon-crying2: \eaed;
$icomoon-point-up: \eaee;
$icomoon-point-right: \eaef;
$icomoon-point-down: \eaf0;
$icomoon-point-left: \eaf1;
$icomoon-warning: \eaf2;
$icomoon-notification: \eaf3;
$icomoon-question: \eaf4;
$icomoon-plus: \eaf5;
$icomoon-minus: \eaf6;
$icomoon-info: \eaf7;
$icomoon-cancel-circle: \eaf8;
$icomoon-blocked: \eaf9;
$icomoon-cross: \eafa;
$icomoon-checkmark: \eafb;
$icomoon-checkmark2: \eafc;
$icomoon-spell-check: \eafd;
$icomoon-enter: \eafe;
$icomoon-exit: \eaff;
$icomoon-play2: \eb00;
$icomoon-pause: \eb01;
$icomoon-stop: \eb02;
$icomoon-previous: \eb03;
$icomoon-next: \eb04;
$icomoon-backward: \eb05;
$icomoon-forward2: \eb06;
$icomoon-play3: \eb07;
$icomoon-pause2: \eb08;
$icomoon-stop2: \eb09;
$icomoon-backward2: \eb0a;
$icomoon-forward3: \eb0b;
$icomoon-first: \eb0c;
$icomoon-last: \eb0d;
$icomoon-previous2: \eb0e;
$icomoon-next2: \eb0f;
$icomoon-eject: \eb10;
$icomoon-volume-high: \eb11;
$icomoon-volume-medium: \eb12;
$icomoon-volume-low: \eb13;
$icomoon-volume-mute: \eb14;
$icomoon-volume-mute2: \eb15;
$icomoon-volume-increase: \eb16;
$icomoon-volume-decrease: \eb17;
$icomoon-loop: \eb18;
$icomoon-loop2: \eb19;
$icomoon-infinite: \eb1a;
$icomoon-shuffle: \eb1b;
$icomoon-arrow-up-left: \eb1c;
$icomoon-arrow-up: \eb1d;
$icomoon-arrow-up-right: \eb1e;
$icomoon-arrow-right: \eb1f;
$icomoon-arrow-down-right: \eb20;
$icomoon-arrow-down: \eb21;
$icomoon-arrow-down-left: \eb22;
$icomoon-arrow-left: \eb23;
$icomoon-arrow-up-left2: \eb24;
$icomoon-arrow-up2: \eb25;
$icomoon-arrow-up-right2: \eb26;
$icomoon-arrow-right2: \eb27;
$icomoon-arrow-down-right2: \eb28;
$icomoon-arrow-down2: \eb29;
$icomoon-arrow-down-left2: \eb2a;
$icomoon-arrow-left2: \eb2b;
$icomoon-circle-up: \eb2c;
$icomoon-circle-right: \eb2d;
$icomoon-circle-down: \eb2e;
$icomoon-circle-left: \eb2f;
$icomoon-tab: \eb30;
$icomoon-move-up: \eb31;
$icomoon-move-down: \eb32;
$icomoon-sort-alpha-asc: \eb33;
$icomoon-sort-alpha-desc: \eb34;
$icomoon-sort-numeric-asc: \eb35;
$icomoon-sort-numberic-desc: \eb36;
$icomoon-sort-amount-asc: \eb37;
$icomoon-sort-amount-desc: \eb38;
$icomoon-command: \eb39;
$icomoon-shift: \eb3a;
$icomoon-ctrl: \eb3b;
$icomoon-opt: \eb3c;
$icomoon-checkbox-checked: \eb3d;
$icomoon-checkbox-unchecked: \eb3e;
$icomoon-radio-checked: \eb3f;
$icomoon-radio-checked2: \eb40;
$icomoon-radio-unchecked: \eb41;
$icomoon-crop: \eb42;
$icomoon-make-group: \eb43;
$icomoon-ungroup: \eb44;
$icomoon-scissors: \eb45;
$icomoon-filter: \eb46;
$icomoon-font: \eb47;
$icomoon-ligature: \eb48;
$icomoon-ligature2: \eb49;
$icomoon-text-height: \eb4a;
$icomoon-text-width: \eb4b;
$icomoon-font-size: \eb4c;
$icomoon-bold: \eb4d;
$icomoon-underline: \eb4e;
$icomoon-italic: \eb4f;
$icomoon-strikethrough: \eb50;
$icomoon-omega: \eb51;
$icomoon-sigma: \eb52;
$icomoon-page-break: \eb53;
$icomoon-superscript: \eb54;
$icomoon-subscript: \eb55;
$icomoon-superscript2: \eb56;
$icomoon-subscript2: \eb57;
$icomoon-text-color: \eb58;
$icomoon-pagebreak: \eb59;
$icomoon-clear-formatting: \eb5a;
$icomoon-table: \eb5b;
$icomoon-table2: \eb5c;
$icomoon-insert-template: \eb5d;
$icomoon-pilcrow: \eb5e;
$icomoon-ltr: \eb5f;
$icomoon-rtl: \eb60;
$icomoon-section: \eb61;
$icomoon-paragraph-left: \eb62;
$icomoon-paragraph-center: \eb63;
$icomoon-paragraph-right: \eb64;
$icomoon-paragraph-justify: \eb65;
$icomoon-indent-increase: \eb66;
$icomoon-indent-decrease: \eb67;
$icomoon-share: \eb68;
$icomoon-new-tab: \eb69;
$icomoon-embed: \eb6a;
$icomoon-embed2: \eb6b;
$icomoon-terminal: \eb6c;
$icomoon-share2: \eb6d;
$icomoon-mail: \eb6e;
$icomoon-mail2: \eb6f;
$icomoon-mail3: \eb70;
$icomoon-mail4: \eb71;
$icomoon-amazon: \eb72;
$icomoon-google: \eb73;
$icomoon-google2: \eb74;
$icomoon-google3: \eb75;
$icomoon-google-plus: \eb76;
$icomoon-google-plus2: \eb77;
$icomoon-google-plus3: \eb78;
$icomoon-hangouts: \eb79;
$icomoon-google-drive: \eb7a;
$icomoon-facebook: \eb7b;
$icomoon-facebook2: \eb7c;
$icomoon-instagram: \eb7d;
$icomoon-whatsapp: \eb7e;
$icomoon-spotify: \eb7f;
$icomoon-telegram: \eb80;
$icomoon-twitter: \eb81;
$icomoon-vine: \eb82;
$icomoon-vk: \eb83;
$icomoon-renren: \eb84;
$icomoon-sina-weibo: \eb85;
$icomoon-rss: \eb86;
$icomoon-rss2: \eb87;
$icomoon-youtube: \eb88;
$icomoon-youtube2: \eb89;
$icomoon-twitch: \eb8a;
$icomoon-vimeo: \eb8b;
$icomoon-vimeo2: \eb8c;
$icomoon-lanyrd: \eb8d;
$icomoon-flickr: \eb8e;
$icomoon-flickr2: \eb8f;
$icomoon-flickr3: \eb90;
$icomoon-flickr4: \eb91;
$icomoon-dribbble: \eb92;
$icomoon-behance: \eb93;
$icomoon-behance2: \eb94;
$icomoon-deviantart: \eb95;
$icomoon-500px: \eb96;
$icomoon-steam: \eb97;
$icomoon-steam2: \eb98;
$icomoon-dropbox: \eb99;
$icomoon-onedrive: \eb9a;
$icomoon-github: \eb9b;
$icomoon-npm: \eb9c;
$icomoon-basecamp: \eb9d;
$icomoon-trello: \eb9e;
$icomoon-wordpress: \eb9f;
$icomoon-joomla: \eba0;
$icomoon-ello: \eba1;
$icomoon-blogger: \eba2;
$icomoon-blogger2: \eba3;
$icomoon-tumblr: \eba4;
$icomoon-tumblr2: \eba5;
$icomoon-yahoo: \eba6;
$icomoon-yahoo2: \eba7;
$icomoon-tux: \eba8;
$icomoon-appleinc: \eba9;
$icomoon-finder: \ebaa;
$icomoon-android: \ebab;
$icomoon-windows: \ebac;
$icomoon-windows8: \ebad;
$icomoon-soundcloud: \ebae;
$icomoon-soundcloud2: \ebaf;
$icomoon-skype: \ebb0;
$icomoon-reddit: \ebb1;
$icomoon-hackernews: \ebb2;
$icomoon-wikipedia: \ebb3;
$icomoon-linkedin: \ebb4;
$icomoon-linkedin2: \ebb5;
$icomoon-lastfm: \ebb6;
$icomoon-lastfm2: \ebb7;
$icomoon-delicious: \ebb8;
$icomoon-stumbleupon: \ebb9;
$icomoon-stumbleupon2: \ebba;
$icomoon-stackoverflow: \ebbb;
$icomoon-pinterest: \ebbc;
$icomoon-pinterest2: \ebbd;
$icomoon-xing: \ebbe;
$icomoon-xing2: \ebbf;
$icomoon-flattr: \ebc0;
$icomoon-foursquare: \ebc1;
$icomoon-yelp: \ebc2;
$icomoon-paypal: \ebc3;
$icomoon-chrome: \ebc4;
$icomoon-firefox: \ebc5;
$icomoon-IE: \ebc6;
$icomoon-edge: \ebc7;
$icomoon-safari: \ebc8;
$icomoon-opera: \ebc9;
$icomoon-file-pdf: \ebca;
$icomoon-file-openoffice: \ebcb;
$icomoon-file-word: \ebcc;
$icomoon-file-excel: \ebcd;
$icomoon-libreoffice: \ebce;
$icomoon-html-five: \ebcf;
$icomoon-html-five2: \ebd0;
$icomoon-css3: \ebd1;
$icomoon-git: \ebd2;
$icomoon-codepen: \ebd3;
$icomoon-svg: \ebd4;
$icomoon-IcoMoon: \ebd5;
$icomoon-employee-problem: \e9e5;
$icomoon-oil-derrick-problem: \e9e6;
$icomoon-oil-derrick: \e9e7;
$icomoon-analytics: \e9e3;
$icomoon-problems: \e9e4;
$icomoon-gps: \e9e2;
$icomoon-location-history-map-large: \e9e1;
$icomoon-location-history-pin: \e99c;
$icomoon-location-trail: \e99d;
$icomoon-location-history-map: \e99e;
$icomoon-geolocation-earth: \e99f;
$icomoon-geolocation: \e9a0;
$icomoon-messages: \e9a1;
$icomoon-message-edit-square: \e9a2;
$icomoon-message-edit: \e9a3;
$icomoon-fracking-detail: \e9a4;
$icomoon-fracking-well: \e9a5;
$icomoon-truck-diesel: \e9a6;
$icomoon-mechanic: \e9a7;
$icomoon-mechanic-overalls: \e9a8;
$icomoon-pencil3: \e9a9;
$icomoon-pencil22: \e9aa;
$icomoon-files-empty2: \e9ab;
$icomoon-file-text22: \e9ac;
$icomoon-copy2: \e9ad;
$icomoon-paste2: \e9ae;
$icomoon-location3: \e9af;
$icomoon-location22: \e9b0;
$icomoon-compass3: \e9b1;
$icomoon-compass22: \e9b2;
$icomoon-map3: \e9b3;
$icomoon-map22: \e9b4;
$icomoon-history2: \e9b5;
$icomoon-clock3: \e9b6;
$icomoon-clock22: \e9b7;
$icomoon-alarm2: \e9b8;
$icomoon-stopwatch2: \e9b9;
$icomoon-bubble3: \e9ba;
$icomoon-bubbles5: \e9bb;
$icomoon-bubbles22: \e9bc;
$icomoon-bubble22: \e9bd;
$icomoon-bubbles32: \e9be;
$icomoon-bubbles42: \e9bf;
$icomoon-user2: \e9c0;
$icomoon-users2: \e9c1;
$icomoon-user-plus2: \e9c2;
$icomoon-user-minus2: \e9c3;
$icomoon-user-check2: \e9c4;
$icomoon-user-tie2: \e9c5;
$icomoon-hour-glass2: \e9c6;
$icomoon-binoculars2: \e9c7;
$icomoon-search2: \e9c8;
$icomoon-zoom-in2: \e9c9;
$icomoon-zoom-out2: \e9ca;
$icomoon-key3: \e9cb;
$icomoon-key22: \e9cc;
$icomoon-lock2: \e9cd;
$icomoon-unlocked2: \e9ce;
$icomoon-wrench2: \e9cf;
$icomoon-equalizer3: \e9d0;
$icomoon-equalizer22: \e9d1;
$icomoon-cog2: \e9d2;
$icomoon-cogs2: \e9d3;
$icomoon-hammer3: \e9d4;
$icomoon-pie-chart2: \e9d5;
$icomoon-stats-dots2: \e9d6;
$icomoon-stats-bars3: \e9d7;
$icomoon-stats-bars22: \e9d8;
$icomoon-truck2: \e9d9;
$icomoon-target2: \e9da;
$icomoon-frack-truck: \e9df;
$icomoon-box-check-no: \e998;
$icomoon-add: \e901;
$icomoon-add-circle-outline: \e902;
$icomoon-albums-outline: \e903;
$icomoon-alert-outline: \e904;
$icomoon-analytics-outline: \e905;
$icomoon-android2: \e906;
$icomoon-apple: \e907;
$icomoon-apps-outline: \e908;
$icomoon-archive-outline: \e909;
$icomoon-arrow-back: \e90a;
$icomoon-arrow-down3: \e90b;
$icomoon-arrow-forward: \e90c;
$icomoon-arrow-up3: \e90d;
$icomoon-briefcase-outline: \e90e;
$icomoon-browsers-outline: \e90f;
$icomoon-calculator-outline: \e910;
$icomoon-calendar-outline: \e911;
$icomoon-call-outline: \e912;
$icomoon-chatboxes-outline: \e913;
$icomoon-chatbubbles-outline: \e914;
$icomoon-clipboard-outline: \e915;
$icomoon-close: \e916;
$icomoon-close-circle-outline: \e917;
$icomoon-compass-outline: \e918;
$icomoon-contact-outline: \e919;
$icomoon-contacts-outline: \e91a;
$icomoon-copy-form-path1: \e91b;
$icomoon-copy-form-path2: \e91c;
$icomoon-copy-form-path3: \e91d;
$icomoon-copy-form-path4: \e91e;
$icomoon-copy-form-path5: \e91f;
$icomoon-copy-form-path6: \e920;
$icomoon-copy-list-path1: \e921;
$icomoon-copy-list-path2: \e922;
$icomoon-copy-list-path3: \e923;
$icomoon-copy-list-path4: \e924;
$icomoon-copy-list-path5: \e925;
$icomoon-copy-list-path6: \e926;
$icomoon-copy-list-path7: \e927;
$icomoon-copy-list-path8: \e928;
$icomoon-copy-list-path9: \e929;
$icomoon-copy-outline: \e92a;
$icomoon-copy-table-path1: \e92b;
$icomoon-copy-table-path2: \e92c;
$icomoon-copy-table-path3: \e92d;
$icomoon-copy-table-path4: \e92e;
$icomoon-create-outline: \e92f;
$icomoon-document-outline: \e930;
$icomoon-download-outline: \e931;
$icomoon-dps: \e932;
$icomoon-dps-2: \e933;
$icomoon-exit-outline: \e934;
$icomoon-eye-off-outline: \e935;
$icomoon-eye-outline: \e936;
$icomoon-filing-outline: \e937;
$icomoon-flag-outline: \e938;
$icomoon-folder-open-outline: \e939;
$icomoon-folder-outline: \e93a;
$icomoon-globe-outline: \e93b;
$icomoon-help-circle-outline: \e93c;
$icomoon-home-outline: \e93d;
$icomoon-image-outline: \e93e;
$icomoon-images-outline: \e93f;
$icomoon-information-circle-outline: \e940;
$icomoon-invoice: \e941;
$icomoon-keypad-outline: \e942;
$icomoon-list-box-outline: \e943;
$icomoon-llocation-outline: \e944;
$icomoon-locate-outline: \e945;
$icomoon-log-in: \e946;
$icomoon-log-out: \e947;
$icomoon-map-outline: \e948;
$icomoon-medal-outline: \e949;
$icomoon-menu5: \e94a;
$icomoon-more-outline: \e94b;
$icomoon-navigate-outline: \e94c;
$icomoon-oil-location: \e94d;
$icomoon-open-outline: \e94e;
$icomoon-options-outline: \e94f;
$icomoon-paper-outline: \e950;
$icomoon-person-add-outline: \e953;
$icomoon-person-outline: \e954;
$icomoon-phone-landscape: \e955;
$icomoon-phone-portrait: \e956;
$icomoon-photos-outline: \e957;
$icomoon-phone-in-hand: \e999;
$icomoon-phone-in-hand-small: \e99a;
$icomoon-pie-outline: \e958;
$icomoon-print-outline: \e959;
$icomoon-pulse: \e95a;
$icomoon-pulse-outline: \e95b;
$icomoon-refresh: \e95c;
$icomoon-refresh-circle-outline: \e95d;
$icomoon-refresh-form: \e95e;
$icomoon-remove-circle-outline: \e95f;
$icomoon-reorder: \e960;
$icomoon-repeat: \e961;
$icomoon-report-add: \e9e0;
$icomoon-reports: \e962;
$icomoon-reports-flagged: \e96d;
$icomoon-reports-flagged-red-path1: \e963;
$icomoon-reports-flagged-red-path2: \e964;
$icomoon-reports-flagged-red-path3: \e965;
$icomoon-reports-flagged-red-path4: \e966;
$icomoon-reports-flagged-red-path5: \e967;
$icomoon-reports-flagged-red-path6: \e968;
$icomoon-reports-flagged-red-path7: \e969;
$icomoon-reports-flagged-red-path8: \e96a;
$icomoon-reports-flagged-red-path9: \e96b;
$icomoon-reports-flagged-red-path10: \e96c;
$icomoon-reset: \e978;
$icomoon-reset-form-path1: \e979;
$icomoon-reset-form-path2: \e97a;
$icomoon-reset-form-path3: \e97b;
$icomoon-resize: \e97c;
$icomoon-settings-outline: \e97f;
$icomoon-share-outline: \e980;
$icomoon-split: \e900;
$icomoon-split-vertical: \e99b;
$icomoon-square-outline: \e981;
$icomoon-stats-outline: \e982;
$icomoon-swap: \e983;
$icomoon-switch-outline: \e984;
$icomoon-sync: \e985;
$icomoon-tablet-landscape: \e986;
$icomoon-tablet-portrait: \e987;
$icomoon-trash-outline: \e988;
$icomoon-document-add: \e96e;

