page-geolocation {
  .overlay-target {
    position: absolute;
    width: 50px;
    height: 50px;
    // border: 1px solid black;
    left: calc(40vw - 25px);
    top: 70px;
  }
  .overall-page {
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: flex-start;
    align-content: flex-start;
    height: 100%;
    width: 100%;
    min-height: 550px;
    font-family: "Roboto";
    font-weight: 400;
    .left-column {
      flex: 0 1 auto;
      width: 25%;
      height: 100%;
      border: 1px dotted lightgrey;
    }
    .right-column {
      border: 1px dotted lightgrey;
      flex: 0 1 auto;
      width: 75%;
      height: 100%;
      .map-col {
        flex: 0 0 100%;
        min-width: 300px;
        width: 100%;
        height: 100%;
        min-height: 500px;
        padding: 0;
        margin: 0;
        $map-size: 700px;
        agm-map {
          height:     $map-size;
          width:      $map-size;
          min-height: $map-size;
          min-width:  $map-size;
        }
      }
    }
  }

  ion-list {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
  }
  ion-col {
    flex: 0 0 100%;
  }
  ion-item {
    flex: 0 0 100%;
  }

  ion-buttons {
    button {
      cursor:pointer;
      &:hover {
        background-color: rgba(0, 0, 128, 0.3);
        color: blue;
      }
      &:active {
        background-color: rgba(0, 0, 255, 0.8);
        * {
          color: white;
        }
      }
    }
  }
  .img-placeholder {
    height: 250px;
    width: 250px;
  }
  .main-content-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-start;
    align-content: flex-start;
    height: 100%;
    width: 70%;
    // min-width: 700px;
    min-height: 500px;
    padding: 0;
    margin: 0;
    // font-family: "Roboto Condensed";
    // font-weight: 200;
    font-family: "Roboto";
    font-weight: 400;
    border: 1px solid lightgrey;
    // background-color: rgba(50, 50, 50, 0.2);
  }
  .main-content {
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-content: center;
    align-items: center;
    flex: 0 0 100%;
    min-width: 700px;
    width: 100%;
    height: 100%;
    min-height: 500px;
    padding: 0;
    margin: 0;
  }
  .add-site-right-column {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: flex-start;
    align-content: flex-start;
    height: 100%;
    width: 30%;
    min-width: 300px;
    min-height: 800px;
    padding: 0;
    margin: 0;
    // font-family: "Roboto Condensed";
    // font-weight: 200;
    font-family: "Roboto";
    font-weight: 400;
    // background-color: rgba(50, 50, 80, 0.2);
  }
  .map-col-container {
    display: flex;
    flex: 0 0 100%;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-start;
    align-content: flex-start;
    height: 50%;
    width: 100%;
    padding: 0;
    margin: 0;
    // font-family: "Roboto Condensed";
    // font-weight: 200;
    font-family: "Roboto";
    font-weight: 400;
    // background-color: rgba(50, 50, 80, 0.2);
  }
  .map-col {
    flex: 0 0 100%;
    min-width: 300px;
    width: 100%;
    height: 100%;
    min-height: 500px;
    padding: 0;
    margin: 0;
  }
  .hours-col {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-start;
    align-content: flex-start;
    flex: 1 0 100%;
    // min-width: 500px;
    width: 100%;
    height: 100%;
    min-height: 500px;
    padding: 0;
    margin: 0;
  }
  .hours-start-times-group {
    flex: 1 0 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: flex-start;
    align-content: flex-start;
    height: 50px;
    width: 48%;
    min-width: 150px;
    max-width: 240px;
    // min-width: 300px;
    // :nth-child(2) {
    //   margin-left: 20px;
    // }
  }

  .hours-start-times-select-group {
    flex: 0 0 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-start;
    align-content: flex-start;
    height: 50px;
    width: 45%;
    // min-width: 175px;
  }
  .hours-datetime-icon-group {
    flex: 0 0 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: flex-start;
    align-content: flex-start;
    // height: 50px;
    // width: 50px;
    max-width: 55px;
    border: thin solid lightgrey;
    padding: 0 0 0 0;
    margin: 2px 0 0 2px;
    height: 20px;
  }
  .hours-header-group-label {
    margin-top: 5px;
    margin-right: 0px;
    font-weight: bold;
  }
  .hours-datetime-display {
    // height: 50px;
    // width: 75px;
    margin-top: 2px;
    margin-left: 0;
    // text-align: right;
    padding: 0px 8px 0px 2px;
    button {
      width: 140%;
    }
    // text-align: right;
    // border: thin solid lightgrey;
    // width: 75px;
    // min-width: 50px;
    // width: 100%;
    // min-width: 75px;
  }
  .hours-start-times-select-group ion-select {
    // height: 50px;
    // width: 75px;
    margin-top: 5px;
    margin-left: 10px;
    text-align: right;
    padding: 0px 8px 0px 2px;
    text-align: right;
    // border: thin solid lightgrey;
    width: 75px;
    min-width: 50px;
    // width: 100%;
    // min-width: 75px;
  }
  .datetime-icon-dropdown {
    color: grey;
    padding-top: 2px;
    right: 6px;
    z-index: -1;
  }
  .datetime-text {
    width: 150px;
    max-width: 150px;
    min-width: 150px;
  }
  .ion-item-button-like {
     &:hover {
      background-color: rgba(0, 0, 128, 0.02);
    }
     &:active {
      background-color: rgba(0, 0, 255, 0.3);
    }
  }

  .add-site-hours-button {

  }

  .add-site-hours-button-icon {

  }

  .worksite-ion-item-group {
    background-color: white;
  }

  .worksite-item-group {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    align-content: flex-start;
  }

  .worksite-item-label {
    display: inline-block;
    flex: 1 0 auto;
    width: 70px;
    max-width: 70px;
  }

  .worksite-item-input {
    display: inline-block;
    flex: 1 0 auto;
    width: 36px;
    max-width: 36px;
  }

}
