options-generic {
  .options-dialog-box {
    // width: 600px;
    overflow-y: auto;
  }
  .options-wrapper {
    width: 100%;
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-content: center;
    align-items: center;
  }
  .options-main {
    width: 100%;
    // padding: 10px;
    // padding-bottom: 10px;
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-content: center;
    align-items: center;
    margin-bottom: 10px;
    border: 1px solid lightgrey;
    padding: 10px;
  }
  .options-item {
    width: 100%;
    flex: 0 1 auto;
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-content: center;
    align-items: center;
    padding-top: 2px;
    padding-bottom: 2px;
    // border-bottom: 1px dotted lightgrey;
    // margin-bottom: 4px;
    .data-item-wrapper {
      width: 100px;
      text-align: right;
      padding-right: 2px;
    }
    .data-label-wrapper {
      width: 300px;
      text-align: left;
      padding-left: 4px;
    }
  }
  .options-checkbox {
    flex: 0 0 45px;
    width: 45px;
    text-align: center;
    // width: 25px;
  }
  .label {
    flex: 0 1 auto;
    padding-left: 4px;
    width: 250px;
  }
  .options-buttons {
    width: 100%;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
    align-content: center;
    align-items: center;
    button {
      flex: 0 1 auto;
      width: 45%;
    }
  }
  .options-label {
    flex: 0 1 auto;
    padding-left: 4px;
  }
  .options-input {
    flex: 0 0 45px;
    width: 45px;
  }
  .options-label-full {
    flex: 0 1 auto;
    width: 100%;
    text-align: center;
  }
}
