report-other-view {
  --other-dropdown-width: 50%;
  --flagged-background-color: rgba(255, 0, 0, 0.3);
  .svg-icon {
    width: 20px;
    height: 24px;
  }
  .cell-button-like {
    font-size: 24px;
    cursor: pointer;
    &:hover {
      background-color: rgba(0, 0, 128, 0.2);
      color: rgba(255, 0, 128, 0.5);
    }
    &:active {
      background-color: rgba(0, 0, 255, 0.5);
      color: rgba(255, 0, 255, 0.9);
    }
  }
  .other-view-button-table {
    width: 100%;
    table-layout: fixed;
    text-align: center;
    overflow: visible;
    &.top {
      margin-bottom: 10px;
      border-bottom: 1px dashed lightgrey;
    }
    &.bottom {
      // margin-top: 10px;
      // border-top: 1px dashed lightgrey;
    }
    .icon-button-like {
      font-size: 24px;
    }
  }
  .icon-button-like {
    cursor: pointer;
    &:hover {
      color: rgba(255, 0, 128, 0.5);
    }
    &:active {
      color: rgba(255, 0, 255, 0.9);
    }
  }
  .icon-greyed-out {
    font-size: 24px;
    color: lightgrey;
    cursor: default;
  }
  .report-card {
    width: 500px;
    max-width: 500px;
    user-select: text;
  }
  .other-view-wrapper {
    max-width: 50vw;
    width: 30vw;
  }
  .other-view-table {
    width: 100%;
    input {
      width: 100% !important;
    }
    .inner-editor {
      width: 100% !important;
    }
    .other-view-row {
      // width: 100%;
      &.flagged-row {
        border:1px solid red;
        .label {
          background-color: var(--flagged-background-color);
        }
      }
      &.disabled {
        .label {
          color: rgba(128,128,128,0.999);
        }
      }
      &.table-row {
        &.flagged-row {
          .data {
            background-color: var(--flagged-background-color);
          }
        }
        .label {
          vertical-align: top;
        }
        .data {
          background-color: transparent;
          .scroller-cell {
            @include fancy-scrollbar-skinny;
            display: inline-block;
            width: 100%;
            max-height: 150px;
            overflow-y: auto;
            border: 1px solid lightgrey;
            background-color: transparent;
            // padding: 2px;
            .flagged-table {
              width: 100%;
              // border: 1px dotted lightgrey;
              border-collapse: collapse;
              thead {
                tr {
                  td {
                    border: 1px dotted lightgrey;
                    border-bottom: 2px solid black;
                    font-weight: bold;
                    text-align: center;
                    &.field {
                      width: 20%;
                    }
                    &.reason {
                      width: 80%;
                    }
                  }
                }
              }
              tbody {
                tr {
                  td {
                    border: 1px dotted lightgrey;
                    &.field {
                      width: 20%;
                    }
                    &.reason {
                      width: 80%;
                    }
                  }
                }
              }
            }
          }
        }
        &.flagged {

        }
      }
    }
    .label {
      width: 20%;
      min-width: 120px;
      text-align: right;
      font-weight: bold;
      padding-right: 4px;
    }
    .data {
      box-sizing: border-box;
      width: 80%;
      height: 22px;
      .other-view-input {
        width: 100%;
      }
      .other-view-fake-input {
        display: inline-block;
        height: 22px;
        line-height: 16px;
        margin: 0;
        border: 1px solid lightgrey;
        padding: 1px;
        background-color: white;
        width: 100%;
      }
      .other-view-calendar {
        // width: 100%;
        .ui-calendar {
          // width: 100% !important;
        }
      }
      .other-view-dropdown {
        width: var(--other-dropdown-width) !important;
        .ui-dropdown {
          width: var(--other-dropdown-width) !important;
        }
      }
      .other-view-textarea {
        width: 100% !important;
      }

      .split-input {
        display         : flex        ;
        flex-flow       : row nowrap  ;
        justify-content : flex-start ;
        align-content   : center ;
        align-items     : center ;
        width: 100%;
        .other-view-input {
          flex: 0 0 49%;
          width: 49%;
        }
      }
    }
  }
  .other-view-button-divider {
    display: block;
    width: 100%;
    height: 10px;
    border-bottom: 1px dashed lightgrey;
    margin-bottom: 6px;
  }
}
