<ion-header>
  <ion-navbar>
    <ion-buttons left>
      <button ion-button menuToggle *ngIf="!modalMode && !data.currentlyOpeningPage">
        <ion-icon name="menu"></ion-icon>
      </button>
      <!-- <button type="button" ion-button icon-only (click)="cancelAndExitModal($event)" *ngIf="modalMode && !data.currentlyOpeningPage">
        <ion-icon name="close"></ion-icon>
      </button> -->
      <ion-spinner name="bubbles" [class.spinner-opening-page]="true" *ngIf="data.currentlyOpeningPage"></ion-spinner>
    </ion-buttons>
    <ion-title>
      <span class="page-title">{{title}}</span>
    </ion-title>
    <ion-buttons right>
      <span class="menubar-buttons">
        <span class="menubar-button" (click)="resetAllTables($event)" title="Reset all translation tables (clear filters, sorting, etc.)">
          <i class="fa fa-ban clear-button"></i>
        </span>
        <span class="menubar-button" (click)="addTranslation($event)" title="Add new translation">
          <i class="fal fa-plus-square"></i>
        </span>
        <!-- <span class="menubar-button" title="Run Tech Shift Reports for visible reports" (click)="openTechShiftReports($event)">
          <i class="icomoon-shift-reports"></i>
        </span>
        <span class="menubar-button" title="Load old reports (can be slow)" (click)="downloadOldReports($event)">
          <i class="fa fa-database"></i>
        </span>
        <span class="menubar-button" title="Load all reports fresh from server" (click)="refreshData($event)">
          <i class="fa fa-refresh"></i>
        </span>
        <span class="menubar-button" title="Export Reports for Payroll" (click)="exportWorkReportsForPayroll($event)">
          <i class="icomoon-payroll"></i>
        </span>
        <span class="menubar-button" title="Export reports table to CSV file" (click)="exportReportsTableAsCSV($event)">
          <i class="fa fa-cloud-download"></i>
        </span>
        <span class="menubar-button" title="Copy reports list to clipboard (to paste in Excel, etc.)" (click)="copyTable($event)">
          <i class="fa fa-clipboard"></i>
        </span> -->
      </span>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<!-- <ion-content padding *ngIf="dataReady && data.ready()"> -->
<ion-content padding #translationsContent id="translations-content" *ngIf="dataReady">
  <p-panel #translationsPanel id="panel-translations" [styleClass]="'translations-panel'" [toggleable]="true">
    <p-header>
      <span class="panel-header">
        <!-- <span class="button-left">
          <span class="panel-header-button db-download" title="Load work reports from database" (click)="possibleUpdateReports(0, $event)"></span>
        </span>
        <span class="button-left">
          <span class="panel-header-button" title="Calculate total hours shown" (click)="calculateHoursShown($event)"><i class="fal fa-calculator-alt"></i></span>
        </span>
        <span class="button-left" *ngIf="data.status.role === 'dev'">
          <span class="panel-header-button button-dev" title="Change all selected reports (still in development)" (click)="bulkEdit(1, $event)"><i class="fal fa-pencil-ruler"></i></span>
        </span> -->
        <!-- <span class="panel-title">
          OnSiteX Translations<span class="translation-count"> ({{translations?.length}} loaded<span class="translation-count-filtered" *ngIf="filteredCount">, {{filteredCount}} matches</span>)</span>
        </span> -->
        <span class="panel-title">
          OnSiteX Translations<span class="translation-count"> ({{translations?.length}} loaded<span class="translation-count-filtered" *ngIf="filteredCount">, {{filteredCount}} matches</span>)</span>
        </span>
        <span class="button-right">
          <span class="panel-header-button right" title="Reset this table (clear filters, selected rows, etc.)" (click)="resetTable(dt, $event)"><i class="fal fa-history"></i></span>
        </span>
      </span>
    </p-header>

    <div #printArea class="table-wrapper" id="print-area">

      <!-- Begin Translations table -->
      <p-table #dt [styleClass]="'translations-table'" [columns]="selectedColumns" [value]="translations" [resizableColumns]="true" [autoLayout]="autoLayout" [rows]="rowCount" [paginator]="showTableFoot" [pageLinks]="3" [rowsPerPageOptions]="pageSizeOptions" sortMode="multiple" [multiSortMeta]="multiSortMetaTrans" stateStorage="local" stateKey="onsiteconsolex-tablestate-translations-main">

        <!-- Caption area (column multiselect, date range filter, global search input) -->
        <ng-template pTemplate="caption">
          <div class="table-caption">
            <div class="column-choose-wrapper">
              <p-multiSelect #columnSelect [styleClass]="'column-multiselect'" optionLabel="header" defaultLabel="Choose columns" [options]="cols" [(ngModel)]="selectedColumns" [selectedItemsLabel]="selectedLabel" (onChange)="selectionChanged($event)"></p-multiSelect>
            </div>
            <div class="caption-right">
              <div class="global-filter-wrapper">
                <i class="global-filter-icon fa fa-search" style="margin:4px 4px 0 0"></i>
                <input #globalFilterInput class="global-filter-input" type="text" pInputText size="50" placeholder="Global Search" (input)="dt.filterGlobal($event.target.value, 'contains')" style="width:auto">
              </div>
            </div>
          </div>
        </ng-template>

        <!-- Header area (col name, col sort icons, filter fields) -->
        <ng-template pTemplate="header" let-columns>
          <tr [class.reports-table-header]="true">
            <th [class.header-col-button]="true" [ngStyle]="styleColEdit" *ngIf="showButtonCol"></th>
            <th [class.header-col-index]="true" [ngStyle]="styleColIndex">#</th>
            <th *ngFor="let col of columns; let i=index" [class.header-col]="true" [ngClass]="col?.class" [pSortableColumn]="col?.field" [ngStyle]="col?.style" [title]="col?.tooltip" pResizableColumn>
              {{col?.header}}
              <p-sortIcon [field]="col?.field"></p-sortIcon>
            </th>
          </tr>
          <tr class="reports-table-filter-row" *ngIf="showFilterRow">
            <th [class.header-col-button]="true" *ngIf="showButtonCol"></th>
            <th [class.header-col-index]="true" [ngStyle]="styleColIndex"></th>
            <th *ngFor="let col of columns" [class.filter-col]="true" [ngClass]="col?.class" [title]="col?.tooltip">
              <input [class.translations-col-filter]="true" pInputText type="text" [placeholder]="col?.filterPlaceholder" (input)="dt.filter($event.target.value, col.field, 'contains')">
            </th>
          </tr>
        </ng-template>

        <!-- Translation table body rows and columns (actual data) -->
        <ng-template pTemplate="body" let-rowData let-columns="columns" let-rowIndex="rowIndex">
          <tr [pSelectableRow]="rowData" [pSelectableRowIndex]="rowIndex">
            <td [class.button-col]="true" title="View work report" (click)="editTranslation(rowData, $event)" *ngIf="showButtonCol">
              <span class="icon-button-wrapper">
                <i class="fal fa-edit work-reports-button-icon"></i>
              </span>
            </td>
            <td [class.col-index]="true">{{rowIndex+1}}</td>
            <td *ngFor="let col of columns; let i=index" [class.body-col]="true" [ngClass]="col?.class" [ngStyle]="col?.style">
              <span class="cell-body-data">
                {{rowData[col?.field]}}
              </span>
            </td>
          </tr>
        </ng-template>

      </p-table>
      <!-- Table ended -->
    </div>
  </p-panel>

  <p-panel #maintenancePanel id="panel-maintenance-translations" [styleClass]="'translations-panel'" [toggleable]="true">
    <p-header>
      <span class="panel-header">
        <!-- <span class="button-left">
          <span class="panel-header-button db-download" title="Load work reports from database" (click)="possibleUpdateReports(0, $event)"></span>
        </span>
        <span class="button-left">
          <span class="panel-header-button" title="Calculate total hours shown" (click)="calculateHoursShown($event)"><i class="fal fa-calculator-alt"></i></span>
        </span>
        <span class="button-left" *ngIf="data.status.role === 'dev'">
          <span class="panel-header-button button-dev" title="Change all selected reports (still in development)" (click)="bulkEdit(1, $event)"><i class="fal fa-pencil-ruler"></i></span>
        </span> -->
        <!-- <span class="panel-title">
          OnSiteX Translations<span class="translation-count"> ({{translations?.length}} loaded<span class="translation-count-filtered" *ngIf="filteredCount">, {{filteredCount}} matches</span>)</span>
        </span> -->
        <span class="panel-title">
          Maintenance Translations<span class="translation-count"> ({{maint_words?.length}} loaded<span class="translation-count-filtered" *ngIf="filteredMaintCount">, {{filteredMaintCount}} matches</span>)</span>
        </span>
        <span class="button-right">
          <span class="panel-header-button right" title="Reset this table (clear filters, selected rows, etc.)" (click)="resetTable(maintTable, $event)"><i class="fal fa-history"></i></span>
        </span>
      </span>
    </p-header>

    <div #printAreaMaintenance class="table-wrapper" id="print-area">

      <!-- Begin Translations table -->
      <p-table #maintTable [styleClass]="'translations-table'" [columns]="selectedColumnsMaint" [value]="maint_words" [resizableColumns]="true" [autoLayout]="autoLayout" [rows]="rowCount" [paginator]="showTableFoot" [pageLinks]="3" [rowsPerPageOptions]="pageSizeOptions" sortMode="multiple" [multiSortMeta]="multiSortMetaMaint" stateStorage="local" stateKey="onsiteconsolex-tablestate-translations-maintenance">

        <!-- Caption area (column multiselect, date range filter, global search input) -->
        <ng-template pTemplate="caption">
          <div class="table-caption">
            <div class="column-choose-wrapper">
              <p-multiSelect #columnSelectMaint [styleClass]="'column-multiselect'" optionLabel="header" defaultLabel="Choose columns" [options]="colsMaint" [(ngModel)]="selectedColumnsMaint" [selectedItemsLabel]="selectedLabelMaint" (onChange)="selectionChangedMaint($event)"></p-multiSelect>
            </div>
            <div class="caption-right">
              <div class="global-filter-wrapper">
                <i class="global-filter-icon fa fa-search" style="margin:4px 4px 0 0"></i>
                <input #globalFilterInput class="global-filter-input" type="text" pInputText size="50" placeholder="Global Search" (input)="maintTable.filterGlobal($event.target.value, 'contains')" style="width:auto">
              </div>
            </div>
          </div>
        </ng-template>

        <!-- Header area (col name, col sort icons, filter fields) -->
        <ng-template pTemplate="header" let-columns>
          <tr [class.reports-table-header]="true">
            <th [class.header-col-button]="true" [ngStyle]="styleColEdit" *ngIf="showButtonCol"></th>
            <th [class.header-col-index]="true" [ngStyle]="styleColIndex">#</th>
            <th *ngFor="let col of columns; let i=index" [class.header-col]="true" [ngClass]="col?.class" [pSortableColumn]="col?.field" [ngStyle]="col?.style" [title]="col?.tooltip" pResizableColumn>
              {{col?.header}}
              <p-sortIcon [field]="col?.field"></p-sortIcon>
            </th>
          </tr>
          <tr class="reports-table-filter-row" *ngIf="showFilterRow">
            <th [class.header-col-button]="true" *ngIf="showButtonCol"></th>
            <th [class.header-col-index]="true" [ngStyle]="styleColIndex"></th>
            <th *ngFor="let col of columns" [class.filter-col]="true" [ngClass]="col?.class" [title]="col?.tooltip">
              <input [class.translations-col-filter]="true" pInputText type="text" [placeholder]="col?.filterPlaceholder" (input)="maintTable.filter($event.target.value, col.field, 'contains')">
            </th>
          </tr>
        </ng-template>

        <!-- Report table body rows and columns (actual data) -->
        <ng-template pTemplate="body" let-rowData let-columns="columns" let-rowIndex="rowIndex">
          <tr [pSelectableRow]="rowData" [pSelectableRowIndex]="rowIndex">
            <td [class.button-col]="true" title="View work report" (click)="editMaintenance(rowData, $event)" *ngIf="showButtonCol">
              <span class="icon-button-wrapper">
                <i class="fal fa-edit work-reports-button-icon"></i>
              </span>
            </td>
            <td [class.col-index]="true">{{rowIndex+1}}</td>
            <td *ngFor="let col of columns; let i=index" [class.body-col]="true" [ngClass]="col?.class" [ngStyle]="col?.style">
              <span class="cell-body-data">
                {{rowData[col?.field]}}
              </span>
            </td>
          </tr>
        </ng-template>

      </p-table>
      <!-- Table ended -->
    </div>
  </p-panel>
  

</ion-content>

<translation-editor [record]="editRecord" [translations]="editTranslations" [maintTranslations]="maint_words" [allTranslations]="translations" [mode]="editorMode" (close)="editorClosed($event)" (cancel)="editorClosed($event)" *ngIf="visibleEditor"></translation-editor>