<ion-header>
  <ion-navbar>
    <ion-buttons left>
      <button ion-button menuToggle>
        <ion-icon name="menu"></ion-icon>
      </button>
    </ion-buttons>
    <ion-title>{{title}}</ion-title>
    <ion-buttons right>
      <!-- <button ion-button icon-only (click)="toggleShowAllEmployees()" title="Toggle Show All Employees">
        <ion-icon *ngIf="showAllEmployees" class="schedule-list-options-button" name="md-eye"></ion-icon>
        <ion-icon *ngIf="!showAllEmployees" class="schedule-list-options-button" name="md-eye-off"></ion-icon>
      </button>
      <button class="employees-buttons employees-csv-export" [class.highlighted]="editMode" ion-button icon-only (click)="toggleEditMode()" title="Toggle Edit Mode">
        <i class="fa fa-pencil" aria-hidden="true"></i>
      </button>
      <button class="employees-buttons employees-csv-export" ion-button icon-only (click)="dt.exportCSV()" title="Export CSV">
        <i class="fa fa-table" aria-hidden="true"></i>
      </button>
      <button class="employees-buttons employees-add-button" ion-button icon-only (click)="addEmployee()" title="Add Employee">
        <i class="fa fa-plus-square-o" aria-hidden="true"></i>
      </button> -->
    </ion-buttons>
  </ion-navbar>
</ion-header>

<!-- <div class="datagrid-test-wrapper" *ngIf="dataReady && data.ready()">
  <fin-datagrid [grid]="gdata"></fin-datagrid>
</div> -->
