<p-dialog #loginDialog [class.login-dialog-box]="true" [(visible)]="isVisible" [draggable]="true" [resizable]="true" [closable]="false" [modal]="false">
  <p-header>
    <span class="dialog-header">
      <span class="header-title">Login</span>
      <span class="options-button" (click)="showOptions($event)"><i class="fa fa-cog"></i></span>
    </span>
  </p-header>
  <span class="login-component">
    <form class="login-component-form">
      <span class="login-input-wrapper">
        <span class="login-input-and-error-wrapper">
          <span class="login-error login-invalid-input" [ngClass]="{'hide': !errorBlankUsername}">Username can't be left blank.</span>
          <div class="ui-inputgroup login-username">
            <span class="ui-inputgroup-addon"><i class="fa fa-user"></i></span>
            <input type="text" pInputText placeholder="Username" name="username" [(ngModel)]="username" autocomplete="username" (ngModelChange)="checkUsername()" (keypress)="checkPasswordKeypress($event)">
          </div>
        </span>

        <span class="login-input-and-error-wrapper">
          <span class="login-error login-invalid-input" [ngClass]="{'hide': !errorBlankPassword}">Password can't be left blank.</span>
          <div class="ui-inputgroup login-password">
            <span class="ui-inputgroup-addon"><i class="fa fa-key"></i></span>
            <input type="password" pInputText placeholder="Password" name="password" [(ngModel)]="password" autocomplete="current-password" (ngModelChange)="checkPassword()" (keypress)="checkPasswordKeypress($event)">
          </div>
        </span>
        <span class="login-error login-problem" [ngClass]="{'hide': !loginError}">Error logging in.</span>
      </span>
      <!-- </p-panel> -->
      <span class="login-button-wrapper">
        <!-- <button class="ui-button-danger login-button cancel" pButton type="button" (click)="cancel()" label="Cancel"></button> -->
        <button class="ui-button-success login-button login" pButton type="button" (click)="loginClicked($event)"   label="Login"></button>
      </span>
    </form>
  </span>
</p-dialog>

<!-- <ion-content padding class="login-modal-content">
  <form [formGroup]="LoginForm" (ngSubmit)="onSubmit()">
    <ion-list>
      <ion-item *ngIf="loginError" color="danger">
        <span class="center error">Username or password incorrect!</span>
      </ion-item>
      <ion-item>
        <ion-label floating>Username</ion-label>
        <ion-input type="text" autocapitalize=off name="id" formControlName="formUser" [class.invalid]="!LoginForm.controls.formUser.valid && (LoginForm.controls.formUser.dirty || submitAttempt)" autocomplete="username"></ion-input>
      </ion-item>
      <ion-item *ngIf="(!LoginForm.controls.formUser.valid && (LoginForm.controls.formUser.dirty || submitAttempt))">
        <p>Please enter a valid username.</p>
      </ion-item>
      <ion-item>
        <ion-label floating>Password</ion-label>
        <ion-input type="password" name="password" formControlName="formPass" [class.invalid]="!LoginForm.controls.formPass.valid && (LoginForm.controls.formPass.dirty || submitAttempt)" autocomplete="current-password"></ion-input>
      </ion-item>
      <ion-item *ngIf="(!LoginForm.controls.formPass.valid && (LoginForm.controls.formPass.dirty || submitAttempt))">
        <p>Please enter a valid password.</p>
      </ion-item>
      <div padding></div>
      <button ion-button color="primary" block color="favorite" [disabled]="(!LoginForm.controls.formUser.valid && (LoginForm.controls.formUser.dirty || submitAttempt)) || (!LoginForm.controls.formPass.valid && (LoginForm.controls.formPass.dirty || submitAttempt))">Sign In</button>
    </ion-list>
  </form>
</ion-content> -->
