 <ion-header>
  <ion-navbar>
    <ion-buttons left>
      <button ion-button menuToggle *ngIf="!modalMode && !data.currentlyOpeningPage">
        <ion-icon name="menu"></ion-icon>
      </button>
      <button type="button" ion-button icon-only (click)="cancelAndExitModal($event)" *ngIf="modalMode && !data.currentlyOpeningPage">
        <ion-icon name="close"></ion-icon>
      </button>
      <ion-spinner name="bubbles" [class.spinner-opening-page]="true" *ngIf="data.currentlyOpeningPage"></ion-spinner>
    </ion-buttons>
    <ion-title>
      <span class="menubar-title">
        <span class="title-text">{{title}}</span>
        <!-- <span class="title-data records-count">({{currentDisplayedRecords}} / {{totalDisplayedRecords}})</span> -->
        <span class="title-data records-which active-only"       *ngIf="!showAllEmployees"> (active employees only)</span>
        <span class="title-data records-which active-only-false" *ngIf="showAllEmployees" > (all employees, active and inactive)</span>
      </span>
    </ion-title>
    <ion-buttons right>
      <button class="employees-buttons" ion-button icon-only (click)="resetEmployeeTable($event)" title="Reset employee table (clear filters, etc.)">
        <i class="fa fa-ban employees-clear-button"></i>
      </button>
      <button ion-button icon-only (click)="toggleShowAllEmployees($event)" title="Toggle Show All Employees (including inactive)">
        <ion-icon *ngIf="showAllEmployees" class="schedule-list-options-button" name="md-eye"></ion-icon>
        <ion-icon *ngIf="!showAllEmployees" class="schedule-list-options-button" name="md-eye-off"></ion-icon>
      </button>
      <!-- <button class="employees-buttons employees-csv-export" [class.highlighted]="editMode" ion-button icon-only (click)="toggleEditMode($event)" title="Toggle Edit Mode">
        <i class="fa fa-pencil"></i>
      </button> -->
      <button class="employees-buttons employees-csv-export" ion-button icon-only (click)="dt.exportCSV($event)" title="Export CSV">
        <i class="fa fa-table"></i>
      </button>
      <button class="employees-buttons employees-add-button" ion-button icon-only (click)="addEmployee($event)" title="Add Employee">
        <i class="fal fa-plus-square"></i>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content padding *ngIf="dataReady">
  <div class="employees-data-table-wrapper" *ngIf="dataReady && data.ready()">
    <!-- <div class="employees-search-header">
      <div class="employees-search-header-item">
        <p-multiSelect #columnSelect [styleClass]="'employees-column-multiselect'" [options]="colOpts" [selectedItemsLabel]="selectedLabel" [(ngModel)]="selectedColumns" (onChange)="selectionChanged($event)"></p-multiSelect>
      </div>
      <div class="employees-search-header-item">
        <ion-icon name="search"></ion-icon>
        <input class="employees-search-input" #globalSearch pInputText type="text" placeholder="Global search" />
      </div>
      <div class="employees-search-header-item">
        <span class="header-text">
          <span class="label">Shown:</span>
          <span class="data" *ngIf="showAllEmployees">Active & Inactive Employees</span>
          <span class="data" *ngIf="!showAllEmployees">Active Employees Only</span>
        </span>
      </div>
    </div> -->

    <p-table #dt [class.table-employees]="true" [columns]="selectedColumns" [value]="displayEmployees" [(rows)]="rowCount" [alwaysShowPaginator]="false" [pageLinks]="3" [rowsPerPageOptions]="pageSizeOptions" [reorderableColumns]="true" (onSort)="updateHighlight($event)" (onFilter)="updateHighlight($event)" *ngIf="dataReady && displayEmployees && displayEmployees.length > 0">
      <ng-template pTemplate="caption">
        <div class="employees-table-caption">
          <div class="column-choose-wrapper">
            <p-multiSelect #employeesColumnMultiselect [styleClass]="'column-multiselect'" optionLabel="header" defaultLabel="Choose columns" [options]="cols" [(ngModel)]="selectedColumns" [selectedItemsLabel]="selectedLabel" (onChange)="selectionChanged($event)"></p-multiSelect>
          </div>
          <div class="global-filter-wrapper">
            <i class="global-filter-icon fa fa-search" style="margin:4px 4px 0 0"></i>
            <input #globalFilterInput class="global-filter-input" type="text" pInputText size="50" placeholder="Global search" (input)="dt.filterGlobal($event.target.value, 'contains')" style="width:auto">
          </div>
        </div>
      </ng-template>

      <ng-template pTemplate="header" let-columns>
        <tr class="employees-table-header">
          <th [class.header-col-button]="true" [ngStyle]="styleColEdit">--</th>
          <th [class.col-active]="true" pSortableColumn>
            <i class="fa fa-lock"></i>
          </th>
          <th *ngFor="let col of columns; let i=index" pReorderableColumn [class.header-col]="true" [class]="col.class" [pSortableColumn]="col.field" [ngStyle]="col.style">
            {{col.header}}
            <p-sortIcon [field]="col.field"></p-sortIcon>
          </th>
        </tr>
        <tr class="employees-table-filter">
          <th [class.header-col-button]="true"></th>
          <th [class.col-active]="true"></th>
          <th *ngFor="let col of columns" class="col-filter-header" [class]="col.class">
            <input [class.employees-col-filter]="true" pInputText type="text" [placeholder]="col.filterPlaceholder" (input)="dt.filter($event.target.value, col.field, 'contains')">
          </th>
        </tr>
      </ng-template>

      <ng-template pTemplate="body" let-rowData let-columns="columns" let-ri="rowIndex">
        <tr class="employees-body-row" [class.highlight]="employeeHighlight[ri]" [class.row-inactive]="!rowData.active" (mouseenter)="setHighlight(ri, true)" (mouseleave)="setHighlight(ri, false)">
          <td [class.col-button]="true" (click)="editEmployee(rowData, $event)" title="Edit Employee '{{rowData.getTechName()}}'">
            <span class="column-button">
              <span class="row-edit-icon"><i class="fa fa-pencil"></i></span>
              <span class="row-number">{{ri+1}}</span>
            </span>
          </td>
          <td [class.col-active]="true">
            <span class="column-active-button" [class.highlight]="employeeHighlight[ri]" (click)="toggleActive(rowData, $event)" title="Toggle employee active/inactive" (mouseenter)="setHighlight(ri, true)" (mouseleave)="setHighlight(ri, false)">
              <span class="row-edit-icon" *ngIf="rowData.active"><i class="fal fa-thumbs-up"></i></span>
              <span class="row-edit-icon" *ngIf="!rowData.active"><i class="fal fa-thumbs-down"></i></span>
            </span>
          </td>
          <td *ngFor="let col of columns; let i=index" class="body-col" [ngClass]="col.class">
            <span class="employee-data" [class.highlight]="employeeHighlight[ri]">
              {{rowData[col.field]}}
            </span>
          </td>
        </tr>
      </ng-template>
    </p-table>
  </div>
</ion-content>
<employee-view *ngIf="employeeViewVisible" #employeeView [mode]="mode" [employee]="employee" [employees]="editEmployees" (onUpdate)="employeeUpdated($event)" (onCancel)="employeeCanceled($event)"></employee-view>
